.main{
    background: url(./res/landing-bg-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width:100%;
    height:500px;
    

}
.topnavbar{
    margin-left: -400px;
    color:white;
    padding-top: 10px;
}
.toptags{
    margin-left:30px;
}
#toptagleft{
    float: right;

}
#toptagsup{
    background-color: rgb(194, 26, 26);
    color: white;
    font-size: 12px;
    padding: 5px;
    border-radius: 20px;
    padding-left:15px;
    padding-right: 15px;
    margin-right: 15px;
}
/* search box */
#searchdiv{
    margin-top: 180px;
   
    
}
::placeholder{
    font-size: 12px;
  
}
.searchimg{
    background-color: white;
    height: 38px;
    width:36px;
    padding:5px;
    padding-left:-5px;
    margin-top: -5px;
    margin-right: -5px;
    margin-left: 5px;
}
.searchbox{
    border: none;
    padding: 7px;
}
#lets{
    background-color: rgb(8, 6, 73);
    color: white;
    padding: 11px 10px 11px 10px;
    font-size: 12px;
    margin-bottom:auto;
}
